#useraccount-section{
	width: 90%;
	margin: 0 auto;
	padding:{
		top: 150px;
	}
	.useraccount-wrapper{
		background-color: #ffffff;
		.serach-div{
			width: 90%;
			margin: 0 auto;
			background-color: #ECECEC;
			border:{
				left: 1px solid #D0D0D0;
				right: 1px solid #D0D0D0;
				top: 1px solid #D0D0D0;
			}
			padding: 15px;
		}
		.user-table{
			width: 90%;
			margin: 0 auto;
			margin:{
				bottom: 10px;
			}
			border:{
				left: 1px solid #D0D0D0;
				right: 1px solid #D0D0D0;
			}
			thead{
				//border: 1px solid #D0D0D0;
				background-color: #ECECEC;
				tr{
					th{
						font-weight: 300;
						text-align: center;
						border: 1px solid #D0D0D0;
					}
				}
			}
			tbody{
				.btn{
					text-align: right;
				}
			}
			tfoot{
				border: 1px solid #D0D0D0;
				background-color: #ECECEC;
				nav{
					position: absolute;
					bottom: -10px;
					ul{
						@include box-shadow(0px 4px 3px -3px rgba(0, 0, 0, 0.64));
						a{
							border-radius: 0px;
							color: $rtpMuted;
							padding: {
								top:10px;
							}
						}
					}
				}
			}
		}
	}
	
}