<div class="modal-header">
    <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
    <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
    <div class="col-lg-12">
        <div class="form-group row">
            <label for="submitSelect" class="col-lg-2 control-label">Change Status:</label>
            <div class="col-lg-8">
                <select class="form-control" id="submitSelect" name="submitSelect" required="" ng-model="modal.project[0].Sponsor_Status">
                    <option>Submitted to CMA</option>
                    <option>Submitted to MTC</option>
                    <option>Needs Information CMA</option>
                    <option>Needs Information</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="submitCMAText" class="col-lg-2 control-label">Notes:</label>
            <div class="col-lg-8">
                <textarea class="form-control" id="statusNotes" name="statusNotes" placeholder="Please add any additional notes" ng-model="modal.project[0].notes"></textarea>
            </div>
            <div class="form-group">
                <div class="col-lg-10" style="text-align: right">
                    <br>
                    <button class="btn btn-primary" ng-click="updateStatus()"> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button> -->
</div>
