<div class="modal-header">
    <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
    <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
    <form class="form-horizontal " id="form-updatepwd ">
        <fieldset>
            <div class="form-group ">
                <label for="updateUserPassword " class="col-lg-2 control-label">New Password</label>
                <div class="col-lg-10 ">
                    <input type="text" class="form-control" id="pwd1" name="pwd1" placeholder="New Password" ng-model="modal.userinfo.pwd1">
                </div>
            </div>
            <div class="form-group ">
                <label for="confirmNewPassword" class="col-lg-2 control-label">Confirm Password</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="pwd2 " placeholder="Confirm Password" name="pwd2" ng-model="modal.userinfo.pwd2">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
