<div id="user-nav" class="navbar navbar-default navbar-static-top absol animated slideInLeft" ng-show="isLoggedIn()" ng-class="{active: navActive}">
    <div class="container">
        <div class="navbar-header hidden">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand ma-top-m hidden">RTP</a>
        </div>
        <div uib-collapse="isCollapsed" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
	            
	            <!-- Sign up and User greeting -->
                <li ng-show="isLoggedIn()">
                	<a href="#" class="nav-anchor" ng-click="go()">
	                	<span class="glyphicon glyphicon-user pad-right-l"></span>
	                	Hello, {{ getCurrentUser().name }}
                	</a>
                </li>
                
                <!-- Menu -->
                <li ng-show="isLoggedIn()" uib-dropdown on-toggle="toggled(open)" class="hidden">
                	<a href id="simple-dropdown" class="nav-anchor" uib-dropdown-toggle>
	                	<i class="fa fa-bars"></i> Menu
					</a>
                    <ul class="uib-dropdown-menu nested-nav"  aria-labelledby="simple-dropdown">
                        <li class="menu-li" ng-repeat="choice in items">
                            <a class="menu-itmes" class="nav-anchor" ng-href="{{ choice.link }}">{{choice.title}}</a>
                        </li>
                        <li class="menu-li">
                        	<a href="/#/settings" class="menu-itmes">
			                	<span class="glyphicon glyphicon-cog hidden"></span> Setting
			                </a>
                        </li>
                    </ul>
                </li>
                
                <!--Logout and Settings -->
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}" class="hidden">
                	<a href="/#/settings">
	                	<span class="glyphicon glyphicon-cog"></span>
	                </a>
	            </li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}" class="hidden">
                	<a href="" ng-click="logout()" class="nav-anchor" >Logout</a>
				</li>
            </ul>
        </div>
    </div>
</div>
